html
	head
		title Markdown Preview
		link(rel="stylesheet", href="/static/lib/github-markdown.min.css")
		link(rel="stylesheet", href="/static/css/view.css")
		link(rel="stylesheet", href="/static/lib/pygments-github.css")
	body
		.markdown-body
			| !{html}
		script(src="/static/js/reload.js")
